resources:
  jobs:
    dqx_validation_job:
      name: ${bundle.target}-{{ project_name }}-dqx-validation

      tasks:
        - task_key: data_quality_check
          new_cluster:
            num_workers: 1
            spark_version: 15.3.x-cpu-ml-scala2.12
            node_type_id: m5.xlarge
            data_security_mode: SINGLE_USER
          notebook_task:
            notebook_path: ../mlops/dqx_checks.py
            base_parameters:
              env: ${bundle.target}
              catalog_name: ${var.catalog_name}

      permissions:
        - level: CAN_VIEW
          group_name: users
