resources:
  jobs:
    batch_inference_job:
      name: ${bundle.target}-${var.schema_name}-batch-inference-job

      environments:
        - environment_key: mlops_env
          spec:
            client: "1"
            dependencies:
              - mlflow

      tasks:
        - task_key: batch_inference
          environment_key: mlops_env
          notebook_task:
            notebook_path: ../mlops/run_inference.py
            base_parameters:
              env: ${bundle.target}
              input_table_name: ${var.catalog_name}.${var.schema_name}.inference_input
              output_table_name: ${var.catalog_name}.${var.schema_name}.predictions
              model_name: ${var.catalog_name}.${var.schema_name}.${var.model_name}

      schedule:
        quartz_cron_expression: "0 0 11 * * ?"
        timezone_id: UTC

      permissions:
        - level: CAN_VIEW
          group_name: users
