resources:
  jobs:
    batch_inference_job:
      name: ${bundle.target}-{{ project_name }}-batch-inference-job

      tasks:
        - task_key: batch_inference
          new_cluster:
            num_workers: 3
            spark_version: 15.3.x-cpu-ml-scala2.12
            node_type_id: m5.xlarge
            data_security_mode: SINGLE_USER
            aws_attributes:
              ebs_volume_type: GENERAL_PURPOSE_SSD
              ebs_volume_count: 1
              ebs_volume_size: 100
          notebook_task:
            notebook_path: ../mlops/run_inference.py
            base_parameters:
              env: ${bundle.target}
              input_table_name: ${var.catalog_name}.{{ project_name }}.inference_input
              output_table_name: ${var.catalog_name}.{{ project_name }}.predictions
              model_name: ${var.catalog_name}.{{ project_name }}.${var.model_name}

      schedule:
        quartz_cron_expression: "0 0 11 * * ?"
        timezone_id: UTC

      permissions:
        - level: CAN_VIEW
          group_name: users
